extends layout

block content
  h1= title
  form(action="/index" method="post")
    label.label(for="userInput") Select a number:
    select(name="number")
        option(value='0', disabled, selected=true) -- Select --
        each val in [3,4,5,10,20]
            option= val
    br 
    input(type="submit")
  +createGrid(selectedVal)