body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
    margin-right: 10px;
}

.formLabels {
    font-weight: bold;
    padding-right: 3px;
    padding-bottom: 5px;
}

#links {
    padding-right: 8px;
}

#textAlignCenter {
    text-align: center;
}

#theadDark {
    color: #fff;
    background-color: #717171;
}