extends layout

block content
  h1#textAlignCenter= title
  img.img.center(src="./images/ongogablogian.jpg" alt="Ongo Gablogian")
  p #{pg1}
  p #{pg2}
  p#textAlignCenter
    a#links(href="./") Index
    a#links(href="./about") About
    a#links(href="./form") Form