extends layout

block content
  h2#textAlignCenter= title
  div.Absolute-Center()
    form#form(action="/results", method="post")
      label#formLabels(for="name") Name:
      input(type="text", name="name")
      br
      label#formLabels(for="email") Email:
      input(type="text", name="email")
      br
      label#formLabels(for="comments") Comments:
      textarea(rows="1", name="comments")
      br
      input#submit(type="submit")
  p#textAlignCenter
    a#links(href="./") Index
    a#links(href="./about") About
    a#links(href="./form") Form