body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.resultsLabels {
    font-weight: bold;
}

.formLabels {
    font-weight: bold;
    padding-right: 3px;
    padding-bottom: 5px;
}

.links {
    padding-right: 8px;
}

.formParagraph {
    margin-top: 20px;
}

.img.center {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}